@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<canvas id="canvas"></canvas>
<div class="camera">
    <video id="video">Video Stream not Allowed</video>
    <button id="start-button">Capture</button>
</div>

<div id="output">
    
</div>